<include file="common/main" title="转出记录" body=""/>
        <div class="nav_top flex">
            <a  href="javascript:void(0)"  onclick="window.history.go(-1)">
                <i></i>
            </a>
            <div class="flex1">
                转出记录
            </div>
            <a href="javascript:void(0)">
                <i></i>
            </a>
        </div>
        <div style="height: 0.44rem;"></div>
        <!--<div class="list_show">
            <ul class="clearfix" ng-repeat="log in logs">
                <li>
                    <div style="width: 30%">
                        转出
                    </div>
                    <div style="width: 20%">
                        {{log.balance}}
                    </div>
                    <div style="width: 50%">
                        {{log.createtime}}
                    </div>
                </li>
            </ul>
        </div>-->
        <div class="pay_list" id="tpls">
            <script id="tpl" type="text/html">
            <ul>
                {{each data as log i}}
                <li class="flex" ng-repeat="log in logs">
                    <div>
                        {{if log.profilephoto}}
                        <img src="{{log.profilephoto}}" style="border-radius: 50%;height: 100%;">
                        {{else}}
                        <img src="__PUBLIC__/images/shezhi_icon_head.png" style="border-radius: 50%;height: 100%;">
                        {{/if}}
                    </div>
                    <div class="flex1" style="text-align: left;">
                        <label style="margin-left: 0.12rem;">
                            {{log.nickname}}
                        </label>
                        <div>
                            UID:{{log.toUserId}}
                        </div>
                    </div>
                    <div style="width: 1.4rem;overflow: hidden;text-align: right;">
                        <label style="text-align: right">{{log.balance}}</label>
                        <div>{{log.createTime}}</div>
                    </div>
                </li>
                {{/each}}
            </ul>
            </script>
        </div>
    </body>
<script type="text/javascript">
    // 当前页数
    var p = 0;
    // 加载完毕标志
    var endflg =  0;
    // 防止重复加载
    var busy = false;
    // 存放数据
    var logs = [];

    loadMore();
    // 请求数据方法
    function loadMore(){

        if(endflg == 0){
            if(busy){
                return false;
            }
            busy = true;
            $.ajax({
                method:'POST',
                data:{
                    "p" : p
                },
                dataType: "json",
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                url: "/index.php/Vpay/Transfer/turnout_record",
                success: function(data){

                    busy = false;
                    if(data.data != '' && data.data != null){
                        if( p > 0) {
                            layer.msg("正在加载...", {time: 500});
                        }
                    } else {
                        layer.msg("已经全部加载完了...", {time:500});
                        var endflg = 1;
                        return false;
                    }
                    if(data.code == -1){
                        layer.msg(data.msg,{time:1500})
                    }else{
                        if(data.data == null){
                            layer.msg(data.msg,{time:1500});
                        } else {
                            // 组织数据
                            if(p != 0){
                                var html = template('tpl',data);
                                $("#tpls").append(html);
                            }else{
                                var html = template('tpl',data);
                                document.getElementById("tpls").innerHTML = html;
                                //$("#tpls").html(html);
                            }

                        }
                        console.log(logs);
                    }
                    p++;
                }
            });
        }else{
            layer.msg("已经全部加载完了...", {time:500});
        }
    };

    $(window).scroll(function(){

        var scrollTop = $(this).scrollTop();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();
        if(scrollTop + windowHeight == scrollHeight){
            loadMore();
        }
    });
</script>

