<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <link rel="apple-touch-icon-precomposed" href="favicon.png">
    <!--<link rel="shortcut icon" href="favicon.ico" />-->
    <meta name="Keywords" content=""/>
    <meta name="description" content=""/>

    <link href="__PUBLIC__/css/reset.css" rel="stylesheet" />
    <link href="__PUBLIC__/css/style.css" rel="stylesheet" />

    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/template.js"></script>
    <script src="__ROOT__/js/layer/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/zz-ext.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
    <title>[title]</title>
</head>
<body>
