<include file="common/main" title="资产" body=""/>
    <input type="hidden" id="type" value="{$type}">
    <input type="hidden" id="currency" value="{$currency}">
    <input type="hidden" id="trans_type" value="{$trans_type}">
    <input type="hidden" id="bankcount" value="{$bankcount}">
        <div class="nav_top flex">
            <a id="returnUrl" href="javascript:void(0)"  onclick="window.history.go(-1)">
                <i></i>
            </a>
            <div class="flex1">
                <select ng-change="getAll()" ng-model="currency" ng-value="{{res.currency}}">
                    <volist name="currencylist" id="vo">
                        <option value="{$vo.id}">{$vo.china_name}</option>
                    </volist>
                </select>
            </div>
            <a  href="javascript:void(0)">

            </a>
        </div>
        <div style="height: 0.44rem;"></div>
        <div class="flex ex_t">
            <div class="flex1">
                <label>{{res.payvir}}</label>
                <p>{{res.payname}}资产</p>
            </div>
            <div></div>
            <div class="flex1">
                <label>{{res.balance}}</label>
                <p>余额</p>
            </div>
        </div>
        <div class="order_l">
            <div>
                <label>
                    当前价格：
                </label>
                <input type="text" name="curprice" value="{{res.curprice}}" readonly="readonly">
            </div>
            <div>
                <label>
                    出售价格：
                </label>
                <input type="text" name="price" ng-model="price" ng-value="res.curprice">
            </div>
            <div>
                <label>
                    出售数量：
                </label>
                <input type="text" name="entrustNum" ng-model="entrustNum" ng-value="entrustNum||0">
            </div>
            <!--<div>
                <label>
                    购买总额：
                </label>
                <input type="text" name="" ng-model="total" ng-value="total||0">
            </div>-->
            <button ng-disabled="disabled" id="confirm_btn" ng-click="publish()">
                发布
            </button>
        </div>
    </body>
        <script type="text/javascript">
            $(function () {
                if($("#type").val()==1 && $("#bankcount").val()==0){
                    layer.confirm('请添加银行卡！', {
                        btn: ['确认','取消'] //按钮
                    }, function(){
                        window.location.href="/index.php/Vpay/Virtualcurrency/addBankCard?type="+$("#type").val()+"&currency="+$("#currency").val()+"&trans_type="+$("#trans_type").val();
                    }, function(){
                        layer.close();
                    });
                }
            });
    
                // 当前页数
                p = 0;
                // 加载完毕标志
                endflg = 0;
                // 防止重复加载
                busy = false;
                // 存放列表数据
                logs = [];
                //存放所有数据
                res = "";
                // 请求数据方法
                loadMore = function () {
                    //交易类型
                    type = $("#type").val();
                    //交易类型
                    currency = $("#currency").val();
                    //交易类型
                    trans_type = $("#trans_type").val();

                    if (endflg == 0) {
                        if (busy) {
                            return false;
                        }
                        busy = true;
                        $.ajax({
                            method: 'POST',
                            dataType: 'JSON',
                            data: {
                                "p": p,
                                "type": type,
                                "currency": currency,
                                "trans_type": trans_type
                            },
                            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                            url: "/index.php/Vpay/Virtualcurrency/sell_order",
                            success: function (data) {
                                busy = false;
                                if (data.data != '' && data.data != null) {
                                    if (p > 0) {
                                        layer.msg("正在加载...", {time: 500});
                                    }
                                } else {
                                    layer.msg("已经全部加载完了...", {time: 500});
                                    endflg = 1;
                                    return false;
                                }
                                p++;
                                if (data.code == -1) {
                                    layer.msg(data.msg, {time: 1500})
                                } else {
                                    if (data.data == null) {
                                        layer.msg(data.msg, {time: 1500});
                                    } else {
                                        res = data.data;
                                    }
                                }
                            }, error: function (result) {
                            }
                        });
                    } else {
                        layer.msg("已经全部加载完了...", {time: 500});
                    }
                };
                // 进页面先加载一次数据
                loadMore();

                getAll=function () {
                    //更改input
                    $("#currency").val(currency);
                    $("#returnUrl").attr("href","/index.php/Vpay/Virtualcurrency/xpay?type="+$("#type").val()+"&currency="+$("#currency").val()+"&trans_type="+$("#trans_type").val());
                    $("#returnUrl").removeAttr("onclick");
                    //交易记录
                    p=0;
                    // 加载完毕标志
                    endflg = 0;
                    // 防止重复加载
                    busy = false;
                    // 存放列表数据
                    logs = [];
                    //存放所有数据
                    res = "";
                    loadMore();
                }
                //监听input值的改变
                $watch('entrustNum', function(newValue, oldValue) {
                    if(entrustNum==0){
                        return false;
                    }
                    /*if(entrustNum>res.payvir){
                        $("#confirm_btn").attr("disabled",true);
                        layer.msg("出售数量不能大于资产数量！", {time: 1500});
                    }else{
                        $("#confirm_btn").attr("disabled",false);
                    }*/
                });
                //发布
                publish=function () {
                    $.ajax({
                        method: 'POST',
                        data: {
                            "type": type,
                            "currency": currency,
                            "trans_type": trans_type,
                            "price": $("input[name='price']").val(),
                            "entrustNum": $("input[name='entrustNum']").val()
                        },
                        headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                        url: "/index.php/Vpay/Virtualcurrency/sellPublish",
                        success: function (data) {
                            if (data.code == -1) {
                                layer.msg(data.msg, {time: 1500})
                            } else {
                                layer.msg(data.msg, {time: 1500});
                                returnData=data.data;
                                window.location.href = '/index.php/Vpay/Virtualcurrency/xpay_orderlist?type='+returnData.type+"&currency="+returnData.currency+"&trans_type="+returnData.trans_type+"&status="+returnData.status;
                            }
                        }, error: function (result) {
                        }
                    });
                }
   
        </script>