<include file="common/header" title="{$title}" body=""/>
<style>
    .f_img {
        display: none;
        position: fixed;
        line-height: 100%;
        z-index: 99999;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,.3);
        /* line-height: 100; */

        align-items: center;
    }
    .f_img img {
        max-width: 100%;
    }
</style>
<div class="page">
    <div class="page-hd">
        <div class="header">
    <div class="header-left">
        <a href="javascript:history.go(-1)" class="left-arrow"></a>
    </div>
    <div class="header-title">{$title}</div>
    <div class="header-right">
        <a href="#"></a>
    </div>
</div>
    </div>

    <div class="page-bd black_bg pb80">
        <!-- 页面内容-->
        <div class="order_box">
            <div class="order_title">

                <if condition="$data.seller_user_id eq $user_id">
                    <if condition="$data['status'] eq 2">
                        <img src="__PUBLIC__/images/icon_time1.png" alt="">
                        <span class="color1 fw500">买家正在付款</span>
                        <elseif condition="$data['status'] eq 3"/>
                        <img src="__PUBLIC__/images/icon_5.png" alt="">
                        <span class="color2 fw500">买家已确认向您账号转账</span>
                        <elseif condition="$data['status'] eq 4"/>
                        <img src="__PUBLIC__/images/icon_5.png" alt="">
                        <span class="color2 fw500">交易成功</span>
                        <elseif condition="$data['status'] eq -1"/>
                        <img src="__PUBLIC__/images/icon_6.png" alt="">
                        <span class="color1 fw500">订单已关闭</span>
                    </if>
                    <else/>
                    <if condition="$data['status'] eq 2">
                        <img src="__PUBLIC__/images/icon_time1.png" alt="">
                        <span class="color1 fw500">等待您支付</span>
                        <elseif condition="$data['status'] eq 3"/>
                        <img src="__PUBLIC__/images/icon_time1.png" alt="">
                        <span class="color1 fw500">等待卖家放款</span>
                        <elseif condition="$data['status'] eq 4"/>
                        <img src="__PUBLIC__/images/icon_5.png" alt="">
                        <span class="color2 fw500">交易成功</span>
                        <elseif condition="$data['status'] eq -1"/>
                        <img src="__PUBLIC__/images/icon_6.png" alt="">
                        <span class="color1 fw500">订单已关闭</span>
                    </if>
                </if>

            </div>
            <div class="weui-cells mt0">
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">订单时间：</label>
                    </div>
                    <div class="weui-cell__bd">{$data.create_time|date="Y-m-d H:i:s",###}</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">订单号：</label>
                    </div>
                    <div class="weui-cell__bd">{$data.order_sn}</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <if condition="$data.seller_user_id eq $user_id">
                            <label class="weui-label">买家名称：</label>
                            <else/>
                            <label class="weui-label">卖家名称：</label>
                        </if>
                    </div>
                    <if condition="$data.seller_user_id eq $user_id">
                            <if condition="$data.buyer_user_id">
                                <div class="weui-cell__bd">{$data.bnickname}</div>
                                <else/>
                                <div class="weui-cell__bd">未接单</div>
                            </if>
                        <else/>
                            <if condition="$data.seller_user_id">
                                <div class="weui-cell__bd">{$data.snickname}</div>
                                <else/>
                                <div class="weui-cell__bd">未接单</div>
                            </if>

                    </if>

                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">DC单价：</label>
                    </div>
                    <div class="weui-cell__bd">{$data.dc_cny_rate}/CNY</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">DC数量：</label>
                    </div>
                    <div class="weui-cell__bd">{$data.number} DC</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">交易金额：</label>
                    </div>
                    <div class="weui-cell__bd">{$data.total_price} 元</div>
                </div>
            </div>
        </div>
        <if condition="$data.status neq -1">
            <div class="order_box mt30">
                <div class="order_title">
                    <span class="fw500">{$data.pay_type_name}</span>
                </div>
                <div class="weui-cells mt0">
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label">收款人：</label>
                        </div>
                        <div class="weui-cell__bd">{$data.account_name}</div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label">收款账号：</label>
                        </div>
                        <div class="weui-cell__bd">{$data.account}</div>
                    </div>
                    <if condition="$data.pay_type neq 3">
                    <div class="weui-cell" style="align-items:end;">
                        <div class="weui-cell__hd">
                            <label class="weui-label">账号二维码：</label>
                        </div>
                        <div class="weui-cell__bd bd_code">
                            <if condition="$data.account_code">
                                <img src="{$data.account_code}" alt="" id="wx_img">
                                <else/>
                                未上传收款码
                            </if>
                        </div>
                    </div>
                     </if>
                </div>
            </div>
        </if>
        <if condition="$data.status eq 2">
        <div class="tc fs28" style="margin-bottom: 0.25rem;" >
            倒计时：<span class="color1 fs34" id="count_down">0:00:00</span>
        </div>
         </if>
        <div class="explain">
            <if condition="$tips">
                <p class="fs26">
                    <img src="__PUBLIC__/images/icon_4.png" alt="" class="img30">
                </p>
                <p class="fs24 text-muted">{$tips}</p>
             </if>
        </div>
        <if condition="$data.buyer_user_id eq $user_id&&$data.status eq 2">
            <div class="weui-btn-area weui-cells_checkbox mt30">
                <label for="weuiAgree"  class="weui-agree weui-agree_qb pl_pr0">
                    <input id="weuiAgree" name="weuiAgree" type="checkbox" class="weui-agree__checkbox">
                    <span class="weui-agree__text fs24" style="flex: 1;">
                    我已知悉：付款后点击“我已打款”按钮确认付款成功。若因恶意操作造成系统判定违规，账号将自动封禁！
                    </span>
                </label>
            </div>
         </if>
    </div>
  
</div>
<div class="f_img">
    <div>
        <img src="http://shop.cctvia.com/public/upload/wechat_code/20181104/70c8a778854b4b137fbdf40d3ca21c48.png" alt="">
    </div>
</div>
<div class="flexd_btn">
    <if condition="$data.seller_user_id eq $user_id">
        <if condition="$data['status'] eq 2">
            <!--等待买家付款-->
            <elseif condition="$data['status'] eq 3"/>
            <!--买家已付款，等待放款-->
            <a class="weui-btn weui-btn_primary mt20" href="javascript:;" onclick="confirm_complete({$data.id})">确认到账，放款</a>
            <elseif condition="$data['status'] eq 4"/>
            <!--交易完成-->
            <elseif condition="$data['status'] eq -1"/>
            <!--订单关闭-->
        </if>
        <else/>
        <if condition="$data['status'] eq 2">
            <a class="weui-btn weui-btn_primary mt20" href="javascript:;" onclick="confirm_pay({$data.id})">我已打款</a>
            <elseif condition="$data['status'] eq 3"/>
            <!--等待放款-->
            <elseif condition="$data['status'] eq 4"/>
            <!--交易完成-->
            <elseif condition="$data['status'] eq -1"/>
            <!--订单关闭-->
        </if>
    </if>


</div>

<style>
    .weui-toast p{ color: #FFF}
</style>

<script>
    $(function() {
        FastClick.attach(document.body);
        $(document).on("click","#wx_img",function(){
            // console.log($(this).css("display","flex"));
            $(".f_img").css("display","flex").find("img").attr("src",$(this).attr("src"));
        })
        $(document).on("click",".f_img",function(){
            $(this).fadeOut();
        })
    });
    can_click=1;
    status = {$data.status};

    if(status==2){
        var intDiff = parseInt({$data.intdiff});    //倒计时总秒数量
        timer(intDiff);
    }
    function timer(intDiff) {
        window.setInterval(function () {
            var day = 0,
                    hour = 0,
                    minute = 0,
                    second = 0;//时间默认值
            if (intDiff > 0) {
                //计算相关的天，小时，还有分钟，以及秒
//                day = Math.floor(intDiff / (60 * 60 * 24));
//                hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
//                minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
//                second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
                hour = Math.floor(intDiff / (60 * 60));
                minute = Math.floor(intDiff / 60)  - (hour * 60);
                second = Math.floor(intDiff)  - (minute * 60);
            }else{
                $.toast("！支付时间已结束",1500,function(){
                    window.location.reload();
                });
            }
            if (minute <= 9) minute = '0' + minute;
            if (second <= 9) second = '0' + second;

            $('#count_down').html(hour + ":"+minute+":"+second);
//            $('#day_show').html(day + "天");
//            $('#hour_show').html('<s id="h"></s>' + hour + '时');
//            $('#minute_show').html('<s></s>' + minute + '分');
//            $('#second_show').html('<s></s>' + second + '秒');
            intDiff--;
        }, 1000);
        //循环函数，是时钟运动起来
//        setInterval(function () {
//            if ($('#minute_show').text() == '00分' && $('#second_show').text() == '00秒') {
//                $('.pay-immediately-count').remove();
//                $('.cancle-order').remove();
//                $('.del-order').show();
//                clearInterval();
//            }
//        }, 1000)

    }

    /**
     * 我已打款
     */
    function confirm_pay(id){
        if ($('input[name=weuiAgree]:checked').length == 0) {
            var error="请确认已知悉打款注意事项\n<br>";
            $.alert(error);
            return false;
        }

        var data={
            id:id,
            status:3,
        }
        $.ajax({
            type : "POST",
            dataType:"JSON",
            url:"/index.php/Dcworld/Dcworld/trade_handle",
            data : data,// 你的formid
            success: function(res){
                console.log(res);
                if(res.code==0){
                    $.toast("确认打款成功！",1500,function(){
                        window.location.reload();
                    });
                }else{
                    $.toast(res.msg,2000,function(){
                        window.location.reload();
                    });
                }
            }
        });
    }

    /**
     * 卖家确认放款
     */
    function confirm_complete(id){
        var data={
            id:id,
            status:4,
        }
        $.ajax({
            type : "POST",
            dataType:"JSON",
            url:"/index.php/Dcworld/Dcworld/trade_handle",
            data : data,// 你的formid
            success: function(res){
                console.log(res);
                if(res.code==0){
                    $.toast("确认放款成功！",1500,function(){
                        window.location.reload();
                    });
                }else{
                    $.toast(res.msg,2000,function(){
                        window.location.reload();
                    });
                }
            }
        });
    }


</script>
<script>

</script>
</body>
</html>