<include file="common/header" title="等待放款" body=""/>
<div class="page">
    <div class="page-hd">
        <div class="header">
    <div class="header-left">
        <a href="javascript:history.go(-1)" class="left-arrow"></a>
    </div>
    <div class="header-title">等待放款</div>
    <div class="header-right">
        <a href="#"></a>
    </div>
</div>
    </div>

    <div class="page-bd black_bg pb80">
        <!-- 页面内容-->
        <div class="order_box">
            <div class="order_title">
                <img src="__PUBLIC__/images/icon_time1.png" alt="">
                <span class="color1 fw500">等待买家放款</span>
            </div>
            <div class="weui-cells mt0">
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">订单时间：</label>
                    </div>
                    <div class="weui-cell__bd">2018-08-20 12：30：20</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">订单号：</label>
                    </div>
                    <div class="weui-cell__bd">2018090712345626</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">卖家名称：</label>
                    </div>
                    <div class="weui-cell__bd">胖子的自我修养</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">TGC单价：</label>
                    </div>
                    <div class="weui-cell__bd">10.2252/TPT</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">TGC数量：</label>
                    </div>
                    <div class="weui-cell__bd">8.33446 TPT</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">交易金额：</label>
                    </div>
                    <div class="weui-cell__bd">2088.34 元</div>
                </div>
            </div>
        </div>
        <div class="order_box mt30">
            <div class="order_title">
                <span class="fw500">支付宝</span>

            </div>
            <div class="weui-cells mt0">
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">收款人：</label>
                    </div>
                    <div class="weui-cell__bd">布莱恩特</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">收款账号：</label>
                    </div>
                    <div class="weui-cell__bd">13222346756</div>
                </div>
                <div class="weui-cell" style="align-items:end;">
                    <div class="weui-cell__hd">
                        <label class="weui-label">账号二维码：</label>
                    </div>
                    <div class="weui-cell__bd bd_code">
                        <img src="__PUBLIC__/images/rwm.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="explain">
            <p class="fs26">
                <img src="__PUBLIC__/images/icon_4.png" alt="" class="img30">
            </p>
            <p class="fs24 text-muted">
                每天最多取消交易2次，如遇问题，请点击申诉联系平台。
            </p>

        </div>
    </div>
  
</div>
<div class="flexd_btn">
    <a class="weui-btn weui-btn_primary mt20" href="{:U('Dcworld/Dcworld/Confirm_the_money',array('step'=>3))}">我已打款</a>
</div>
<script src="__PUBLIC__/js/lib/jquery-2.1.4.js"></script>
<script src="__PUBLIC__/js/jquery-weui.min.js"></script>
<script src="__PUBLIC__/js/lib/fastclick.js"></script>
<script>
    $(function() {
        FastClick.attach(document.body);
    });
</script>
<script>

</script>
</body>
</html>