<include file="common/header" title="修改密码" body=""/>
<div class="page">
    <div class="page-hd">
        <div class="header">
            <div class="header-left">
                <a href="javascript:history.go(-1)" class="left-arrow"></a>
            </div>
            <div class="header-title">修改密码</div>
            <div class="header-right">
                <a href="#"></a>
            </div>
        </div>
    </div>

    <div class="page-bd">
        <!-- 页面内容-->
        <form method="post" id="payform">
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">旧密码</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="password" id="old_password" name="old_password" placeholder="请输入旧密码">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">新密码</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="password" id="new_password" name="new_password" placeholder="请输入新密码">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">确认新密码</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="password" id="confirm_password" name="confirm_password" placeholder="请输入新密码">
                    </div>
                </div>
            </div>
            <div class="weui-btn-area">
                <a href="javascript:void(0);" class="weui-btn weui-btn_primary" onclick="submits()">确定</a>
            </div>
        </form>
    </div>
</div>
<script>
    $(function() {
        FastClick.attach(document.body);
    });
</script>
<script>
 //提交前验证表单
    function submits() {
        var new_password = $('#new_password').val();
        var confirm_password = $('#confirm_password').val();
        var old_password = $('#old_password').val();

        if (new_password == '' || confirm_password== '') {
            showErrorMsg('登录密码不能为空');
            return false;
        }
        if (old_password == '' ) {
            showErrorMsg('原密码不能为空');
            return false;
        }
        if (new_password.length < 6 ) {
            showErrorMsg('密码长度不符合');
            return false;
        }
        if (new_password != confirm_password) {
            showErrorMsg('两次密码不一致');
            return false;
        }
        $.ajax({
            url: "{:U('Member/edit_password')}",
            type: 'post',
            dataType: 'json',
            data: $('#payform').serialize(),
            success: function (data) {
                if (data.code == 0) {
                    $.toast(data.msg, 2000, 'cancel');
                    window.location.href = "{:U('Member/security_settings')}";
                } else {
                    showErrorMsg(data.msg);
                    return false;
                }
            }
        })
    }
    /**
     * 提示弹窗
     * */
    function showErrorMsg(msg) {
        $.toast(msg,'cancel');
    }
    $(function () {
        FastClick.attach(document.body);
    });
</script>
</body>
</html>